---
layout: layouts/pageDE.njk
title: Datenschutz
description: Die Datenschutz der filotimo-Website.
keywords: Datenschutz, Datenschutzerklärung
path: /privacy
---

<div class="section">
    <h1>Datenschutz<wbr />erklärung</h1>
</div>