---
layout: layouts/pageDE.njk
title: Herunterladen
description: filotimo Linux herunterladen.
keywords: Herunterladen, Download
path: /download
---

<div class="section">
    <h2>filotimo Linux Herunterladen</h2>
    <a download href="https://download.filotimoproject.org/filotimo-latest.iso">ISO-Abbild herunterladen</a><br />
    <a download href="https://download.filotimoproject.org/filotimo-latest.iso-CHECKSUM">Checksum herunterladen</a>
</div>