---
layout: layouts/pageDE.njk
title: Startseite
description: Dies ist die Startseite von filotimo Project.
keywords: Startseite
path: /
---

<div class="section center-h">
    <!-- <img style="width: 100%; max-width: 1080px;" src="/assets/media/laptop-showcase.png" /> -->
    <img style="width: 100%; max-width: 1080px;" src="/assets/media/hampter.gif" />
</div>

<div class="section center-h">
    <h1>Dein nächstes Betriebssystem.</h1>
    <div class="inline-button-wrap">
        <a class="button" href="/de/download">Herunterladen</a>
        <a href="https://github.com/filotimo-project">GitHub</a>
    </div>
</div>

<div class="section-alt-wrap">
    <div class="section">
        <h2>filotimo Linux</h2>
        <p>filotimo (/fiˈlo.ti.mo/) zielt darauf ab, ein System bereitzustellen, das für die meisten Menschen ohne viel Schnickschnack benutzbar ist. Und wenn dies nicht möglich ist, werden zugängliche, verständliche und einfache GUI-basierte Tools bereitgestellt, um alles einzurichten.</p>
    </div>
</div>

<div class="section">
    <h1><i class="bi bi-film"></i> Bessere Multimedia- und Hardware<wbr />kompatibilität</h1>
    <p>filotimo enthält eine breite Auswahl an Treibern und Multimedia-Codecs, die in typischen Fedora-Installationen fehlen. Dadurch funktionieren Video-Wiedergabe, Drucker und andere Hardware sofort ohne zusätzliche Einrichtung. Beachte, dass einige dieser Komponenten proprietär und nicht quelloffen sind.</p>
</div>

<div class="section">
    <h1><i class="bi bi-person-fill"></i> Benutzer<wbr />freundlichkeit</h1>
    <p>filotimo setzt auf Einfachheit und bietet intuitive grafische Werkzeuge für Aufgaben, die normalerweise ein Terminal erfordern. Das GRUB-Menü ist standardmäßig ausgeblendet, um den Startvorgang übersichtlicher zu gestalten und <a href="https://github.com/filotimo-project/atychia">Atychia</a> ist vorinstalliert, um das System bei Problemen wiederherstellen zu können.</p>
</div>

<div class="section">
    <h1><i class="bi bi-tools"></i> Optimierungen unter der Haube</h1>
    <p>filotimo bringt Leistungs- und Stabilitätsverbesserungen mit, die die Performance und Zuverlässigkeit des Systems optimieren.</p>
</div>

<div class="section">
    <h1><i class="bi bi-gear-fill"></i> ...Und vieles mehr</h1>
    <p>Über die grundlegenden Verbesserungen hinaus enthält filotimo viele zusätzliche Funktionen und Erweiterungen, die die tägliche Nutzung und Systemleistung verbessern. Eine ausführliche Liste aller wichtigen Änderungen findest du <a href="https://github.com/filotimo-project">hier</a>.</p>
</div>

<div class="section">
    <h1 class="center-title">Mitwirkende</h1>
    <div class="center-h">
        <img width="50px" onclick="window.location.href = 'https://github.com/fesdonomist';" class="contributor-image" src="/assets/media/thomas.jpeg" />
        <img width="50px" onclick="window.location.href = 'https://github.com/janjbnck';" class="contributor-image" src="/assets/media/jan.png" />
        <p><a href="/de/contribute">Werde Mitwirkender</a></p>
    </div>
</div>