---
layout: layouts/pageDE.njk
title: Mitmachen
description: Bei der Entwicklung von filotimo mitmachen.
keywords: Mitmachen, Entwicklung
path: /contribute
---

<div class="section">
    <h1>Bei filotimo mitmachen</h1>
    <p>Wenn du zum Projekt beitragen willst, kontaktiere einfach <a href="https://github.com/fesdonomist">@fesdonomist</a> oder mach direkt einen Pull Request auf <a href="https://github.com/filotimo-project">GitHub</a>.</p>
</div>

<div class="section">
    <h2 class="center-title">Mitwirkende</h2>
    <div class="center-h">
        <img width="50px" onclick="window.location.href = 'https://github.com/fesdonomist';" class="contributor-image" src="/assets/media/thomas.jpeg" />
        <img width="50px" onclick="window.location.href = 'https://github.com/janjbnck';" class="contributor-image" src="/assets/media/jan.png" />
    </div>
</div>