---
layout: layouts/pageEN.njk
title: Download
description: Download filotimo
keywords: Download
path: /download
---

<div class="section">
    <h1>Download filotimo</h1>
    <a download href="https://download.filotimoproject.org/filotimo-latest.iso">Download ISO Image</a><br />
    <a download href="https://download.filotimoproject.org/filotimo-latest.iso-CHECKSUM">Download Checksum</a>
    <p>The source code is available on <a href="https://github.com/filotimo-project">GitHub</a>.</p>
</div>