---
layout: layouts/pageEN.njk
title: Home Page
description: This is the home page of the filotimo Project.
keywords: Home Page
path: /
---

<div class="section center-h">
    <img style="width: 100%; max-width: 1080px;" src="/assets/media/laptop-showcase.png" />
</div>

<div class="section center-h">
    <h1>Your next operating system.</h1>
    <div class="inline-button-wrap">
        <a class="button" href="/en/download">Download</a>
        <a href="https://github.com/filotimo-project">GitHub</a>
    </div>
</div>

<div class="section-alt-wrap">
    <div class="section">
        <h2>filotimo Linux</h2>
        <p>filotimo (/fiˈlo.ti.mo/) aims to provide a system that just works out of the box for most people, and when this is not possible, provide accessible, obvious and easy to use GUI based tools to get things to work.</p>
    </div>
</div>

<div class="section">
    <h1><i class="bi bi-film"></i> Better Multimedia and Hardware Compatibility</h1>
    <p>filotimo includes a wide range of drivers and multimedia codecs that are typically missing from standard Fedora installations. This ensures that video playback, printers, and other hardware work out of the box without additional setup. Keep in mind that some of these components are proprietary and not open source.</p>
</div>

<div class="section">
    <h1><i class="bi bi-person-fill"></i> User Friendliness</h1>
    <p>filotimo focuses on simplicity by offering intuitive graphical tools for tasks that normally require the terminal. The GRUB menu is hidden by default for a cleaner boot experience, and <a href="https://github.com/filotimo-project/atychia">Atychia</a> is preinstalled to help recover the system if something goes wrong.</p>
</div>

<div class="section">
    <h1><i class="bi bi-tools"></i> Under the Hood Optimizations</h1>
    <p>filotimo features performance and under the hood stability tweaks built in, improving the system's performance and reliability.</p>
</div>

<div class="section">
    <h1><i class="bi bi-gear-fill"></i> ...And Much More</h1>
    <p>Beyond core improvements, filotimo includes many additional features and enhancements that improve everyday usability and system performance. You can find an extensive list of all the notable changes <a href="https://github.com/filotimo-project">here</a>.</p>
</div>

<div class="section">
    <h1 class="center-title">Contributors</h1>
    <div class="center-h">
        <img width="50px" onclick="window.location.href = 'https://github.com/fesdonomist';" class="contributor-image" src="/assets/media/thomas.jpeg" />
        <img width="50px" onclick="window.location.href = 'https://github.com/janjbnck';" class="contributor-image" src="/assets/media/jan.png" />
        <p><a href="/en/contribute">Become a Contributor</a></p>
    </div>
</div>