/* Navbar and Menu */
.navbar-link {
    color: var(--color-text-light);
    text-decoration: none;
}
.navbar-items-left {
    margin-left: var(--padding-default);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-items-left .navbar-link {
    margin-right: var(--padding-default);
}
.navbar-items-right {
    margin-right: var(--padding-default);
}
.navbar-items-right .navbar-link {
    margin-left: var(--padding-default);
}
.navbar-link:hover {
    text-decoration: underline;
}
.navbar-button {
    font-size: large;
}
.menu-link {
    color: var(--color-text-dark);
    font-size: large;
    text-decoration: none;
}
.menu-link:hover {
    text-decoration: underline;
}

/* Buttons */
.button {
    background-color: var(--color-accent);
    color: var(--color-text-light);
    border: 8px solid var(--color-accent);
    border-radius: 4px;
    line-height: 3em;
    transition: all .1s;
}
.button:hover {
    background-color: var(--color-accent-light);
    border: 8px solid var(--color-accent-light);
    text-decoration: none;
}

/* Main DIVs */
.section {
    padding: var(--padding-default) 0;
    margin: var(--padding-default) 0;
}
.center-h {
    width: 100%;
    text-align: center;
}
.inline-button-wrap {
    width: 100%;
}
.inline-button-wrap a {
    margin: 0 var(--padding-small);
}