---
layout: layouts/pageEN.njk
title: Contribute
description: Contribute to filotimo
keywords: Contribute, Development
path: /contribute
---

<div class="section">
    <h1>Contribute to filotimo</h1>
    <p>To contribute to the project, contact <a href="https://github.com/fesdonomist">@fesdonomist</a> or simply create a pull request on <a href="https://github.com/filotimo-project">GitHub</a>.</p>
</div>

<div class="section">
    <h2 class="center-title">Contributors</h2>
    <div class="center-h">
        <img width="50px" onclick="window.location.href = 'https://github.com/fesdonomist';" class="contributor-image" src="/assets/media/thomas.jpeg" />
        <img width="50px" onclick="window.location.href = 'https://github.com/janjbnck';" class="contributor-image" src="/assets/media/jan.png" />
    </div>
</div>