---
layout: layouts/pageEN.njk
title: Contribute
description: Contribute to filotimo Linux
keywords: Contribute, Development
path: /contribute
---

<div class="section">
    <h2>Contribute to filotimo Linux</h2>
    <p>To contribute to the project, contact <a href="https://github.com/fesdonomist">@fesdonomist</a> or simply create a pull request on <a href="https://github.com/filotimo-project">GitHub</a>.</p>
</div>